
<mapper namespace="com.github.zmpaul.persistence.mapper.UserMapper">
    <select id="selectList" resultType="com.github.zmpaul.persistence.domain.User">
        select * from table_user
    </select>

    <select id="selectOne" resultType="com.github.zmpaul.persistence.domain.User" parameterType="com.github.zmpaul.persistence.domain.User">
        select * from tb_user where username = #{user_name}
    </select>
</mapper>